* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.form{
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;


}
.form_alert{
    color: #ff0000;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 0.8em;
}
.form_alert_asterisk{
    color: #ff0000;
}
.form_contact, .form_payment, .form_check{
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.form_contact legend{
    padding: 0 10px;
}


.form_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
 
}
.orange_button{
    background-color: #ffd000;
    color: rgb(255, 255, 255);
    border: 1px solid #ff9900;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
.white_button{
    background-color: #ffffff;
    color: #ff9900;
    border: 1px solid #ff9900;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.form_contact_data div, .form_payment_data div{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
#correo {
   width: 60%;
}
.tipo_targeta {
    background-color: white;
}
input, .tipo_targeta{
    border-radius: 3px;
    border: 1px solid slategrey;
}

#acepto{
    border-radius: 100px;
    cursor: pointer;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: rgb(0, 110, 255);
  border: 2px solid white;
}

