* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.form{
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    justify-content: center;


}
.form div {
    width:23vw;
}
.form_alert{
    color: #ff0000;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 0.8em;
}
.form_alert_asterisk{
    color: #ff0000;
}
.form_contact, .form_payment{
    display: grid;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    justify-content: center;

}
.form_contact_data{
    width: 100%;
}
.form_check {
    display: grid;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.form_contact input, .form_payment input{
width: 100%;
}
.form_contact legend{
    padding: 0 10px;
}


.form_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
 
}
.orange_button{
    background-color: #ffd000;
    color: rgb(255, 255, 255);
    border: 1px solid #ff9900;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.orange_button:hover{
    background-color: #ffca7b;
}
.white_button{
    background-color: #ffffff;
    color: #ff9900;
    border: 1px solid #ff9900;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: border 0.3s ease;
}
.white_button:hover{
   border: 1px solid black;
}

.form_contact_data div, .form_payment_data div{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
#correo {
   width: 60%;
}
.tipo_targeta {
    background-color: white;
}
input, .tipo_targeta{
    border-radius: 3px;
    border: 1px solid slategrey;
}

#acepto{
    border-radius: 100px;
    cursor: pointer;
}
.form_contact_check_div{
    display: inline-block;

}

.form_politica_check input[type="checkbox"] {
    margin-right: 10px;

}
.form_contact_check input[type="radio"] {
 
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;
}




.form_contact_check input[type="radio"]:checked {
  background-color: rgb(0, 110, 255);
  border: 1px solid white;       
  box-shadow: 0 0 0 1px rgb(0,110,255); 
}

