/* ====== RESET BÁSICO ====== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f8bce;
}

/* ====== HEADER ====== */
header {
    padding: 10px 0;
    text-align: center;
}

.logo img {
    height: 40px;
    width: auto;
}

/* ====== CONTENEDOR ====== */
.container {
    position: relative;
    width: 600px;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 6px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* ====== TÍTULOS ====== */
.titles {
    display: flex;
    align-items: center; /* centra verticalmente */
    gap: 10px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1;
}

.subtitle {
    font-size: 12px;
    color: #666;
    margin: 0;
}

/* ====== IDIOMA ====== */
.idioma {
    position: absolute;
    top: 25px;
    right: 25px;
}

.idioma label {
    font-size: 13px;
    margin-right: 5px;
}

.idioma select {
    width: 120px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* ====== FORMULARIO ====== */
.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 140px;
    font-size: 14px;
}

input,
select {
    padding: 6px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Nombre y Apellidos */
.inline input {
    width: 170px;
    margin-right: 10px;
}

.inline input:last-child {
    margin-right: 0;
}

/* Radios */
.radio-group input {
    width: auto;
    margin-left: 10px;
}

/* Fecha */
.date select {
    width: 90px;
    margin-right: 5px;
}

/* Texto pequeño */
.small-text {
    font-size: 11px;
    color: #888;
    margin-left: 140px;
    margin-bottom: 15px;
}

/* Teléfono */
.phone select {
    width: 100px;
    margin-right: 10px;
}

.phone input {
    width: 240px;
}



.button {
    display: flex;
    justify-content: flex-end;
}

.button button {
 
    background-color: #1da1d6;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.button button:hover {
    background-color: #168bbd;
}

/* Checkbox */
.form-group.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group.checkbox input[type="checkbox"] {
    width: auto; /* elimina el ancho de 350px de los inputs generales */
    margin-right: 10px; /* espacio entre checkbox y el texto */
}

.form-group.checkbox a {
    color: #1da1d6; /* opcional: color de links igual al botón */
    text-decoration: none;
}

.form-group.checkbox a:hover {
    text-decoration: underline;
}
