
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f8bce;
}

header {
    padding: 10px 0;
    text-align: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.container {
    position: relative;
    width: 600px;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 6px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.titles {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1;
}

.subtitle {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.idioma {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #1da1d6;
}
.form-group.idioma select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none; 
    background: transparent; 
    font-size: 14px;
    color: #1da1d6; 
    padding: 4px 20px 4px 4px; 
    cursor: pointer;
}




.idioma select {
    width: 90px;
    padding: 6px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 140px;
    font-size: 14px;
}

input,
select {
    padding: 6px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


.inline input {
    width: 170px;
    margin-right: 10px;
}

.inline input:last-child {
    margin-right: 0;
}


.radio-group input {
    width: auto;
    margin-left: 10px;
}


.date select {
    width: 90px;
    margin-right: 5px;
}

.small-text {
    font-size: 11px;
    color: #888;
    margin-left: 140px;
    margin-bottom: 15px;
}


.phone select {
    width: 100px;
    margin-right: 10px;
}

.phone input {
    width: 240px;
}



.button {
    display: flex;
    justify-content: flex-end;
}

.button button {
 
    background-color: #1da1d6;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.button button:hover {
    background-color: #168bbd;
}


.form-group.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group.checkbox input[type="checkbox"] {
    width: auto; 
    margin-right: 10px; 
}

.form-group.checkbox a {
    color: #1da1d6;
    text-decoration: none;
}

.form-group.checkbox a:hover {
    text-decoration: underline;
}

.consejo {
    font-size: 12px;
    margin-left: 140px;
    margin-top: -10px;
    margin-bottom: 5px;

}
.consejo a {
    color: #1da1d6; 
    text-decoration: none; 
}

.consejo a:hover {
    text-decoration: underline; 
}
