

.flex-container {
    display: flex;
    flex-wrap: wrap ;
    gap: 1.5em;
    justify-content: center;

}

header {
    border-radius: 20px;
    background-color: #eaebec;
    box-shadow: 20px 20px 30px grey;

}

section {
    border-radius: 20px;
    background-color: #eaebec;
    box-shadow: 20px 20px 30px grey;
}