* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f4;
  padding: 2em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

header {
  border-radius: 20px;
  background-color: #eaebec;
  text-align: center;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.35);

}

.header h1 {
  color: #2b6cb0;
  font-size: 30px;
  font-weight: bold;
}

.header hr {
  margin: 15px auto;
  width: 100%;
}

.header .author {
  margin-top: 5px;
  font-style: italic;
  color: #555;
}


.chapter h2:first-of-type {
  color: #1f4a80;
  font-size: 24px;
  margin-bottom: 10px;
}

.chapter hr {
  margin: 10px auto;
  width: 100%;
}


.chapter h2:last-of-type {
  font-size: 12px; 
  color: #333;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

.text-block {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}

.text-block p {
  margin-bottom: 18px;
  padding: 15px;
  background: #f7f8fc;
  border-left: 4px solid #5a8fd8;
  border-radius: 10px;
}

.header,
.chapter {
  flex: 1 1 30vw;
  max-width: 47.5vw;
}
